{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if attributes.hasClass('button--primary') %}
  <input{{ attributes.addClass('btn btn-light border border-dark font-weight-bold') }} />
{% elseif attributes.hasClass('button') %}
  <input{{ attributes.addClass('btn btn-dark border border-light font-weight-bold') }} />
{% else %}
  <input{{ attributes.addClass('form-control bg-light text-dark') }} />
{% endif %}
{{ children }}
