{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if exposed %}
    <div class="view-filters text-light mb-4 rounded">
      {{ exposed }}
    </div>
  {% endif %}
  <ul class="nav nav-pills mt-5 mb-3" id="listormap" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="list-tab" data-toggle="tab" href="#listresult" role="tab" aria-controls="listresult" aria-selected="true"><img src="/themes/custom/dbshare_bootstrap/images/list.svg" height="17" width="21" class="pr-1"/>{{ 'Display results as a list'|t }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="map-tab" data-toggle="tab" href="#mapresult" role="tab" aria-controls="mapresult" aria-selected="false"><img src="/themes/custom/dbshare_bootstrap/images/geolocalizator.svg" height="17" width="17" class="pr-1"/> {{ 'Display results on a map'|t }}</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    {% if attachment_before %}
      <div id="mapresult"  class="tab-pane fade attachment attachment-before" role="tabpanel" aria-labelledby="mapresult-tab">
        {{ attachment_before }}
      </div>
    {% endif %}

    <div class="tab-pane fade show active" id="listresult"  role="tabpanel" aria-labelledby="listresult-tab">
      {% if rows %}
      {{ form }}
        <div class="view-content">
          {% if header %}
          <div class="view-header clearfix">
          {{ drupal_block('search_api_sorts_block:views_page:search__page_1', {label: 'Result sorted by:'|t}) }}
          {{ header }}
          </div>
          {% endif %}
          {{ rows }}
        </div>
      {% elseif empty %}
        <div class="view-empty">
          {{ empty }}
        </div>
      {% endif %}

      {% if pager %}
        {{ pager }}
      {% endif %}
      {% if attachment_after %}
        <div class="attachment attachment-after">
          {{ attachment_after }}
        </div>
      {% endif %}
      {% if more %}
        {{ more }}
      {% endif %}
      {% if footer %}
        <div class="view-footer">
          {{ footer }}
        </div>
      {% endif %}
      {% if feed_icons %}
        <div class="feed-icons">
          {{ feed_icons }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
