{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 * @see at_core_preprocess_node()
 */
#}
{%-
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'row',
    'clearfix',
    'mx-0',
  ]
-%}
<article{{ attributes.addClass(classes).setAttribute('role', 'article') }}>

    <div class="col-lg-8">
      <div class="ariana row bg-dark text-light rounded-left">
        <div class="bubble col-auto py-2 rounded-left"><a class="text-light" href="{{ path('<front>') }}?type2[{{- node.bundle -}}]={{- node.bundle -}}" title="{{ bundle_name }}">{{ bundle_name }}</a></div>
        {% if content.field_venue_festival_type.0 %}
          <div class="col-auto py-2"> / </div>
          <div class="col-auto py-2">
            {{ content.field_venue_festival_type[0]['#title'] }}
          </div>
          <div class="col-auto py-2"> / </div>
       {% elseif content.field_organization_type.0 %}
          <div class="col-auto py-2"> / </div>
          <div class="col-auto py-2">
            {{ content.field_organization_type[0]['#title'] }}
          </div>
          <div class="col-auto py-2"> / </div>
        {% endif %}
        <div class="col-auto py-2"><a class="text-light" href="{{ path('<front>') }}?location[distance][from]=5&location[value]={{ content.field_address[0]['locality']['#value']|capitalize }}, {{ content.field_address[0]['country']['#value'] }}" title="{{ content.field_address[0]['locality']['#value']|capitalize }} - {{ content.field_address[0]['country']['#value'] }}">{{ content.field_address[0]['locality']['#value']|capitalize }} - {{ content.field_address[0]['country']['#value'] }}</a></div>
      </div>

      <div class="profile  my-2">
        <header class="row">
          <div class="col-lg-10">
          {%- if not node.isPublished() -%}
            <span class="node__status node--unpublished marker marker--warning" aria-label="Status message" role="contentinfo">
              <span class="visually-hidden">{%- trans %}This node is in {% endtrans %}</span>{% trans %}Current state Draft{% endtrans -%}
            </span>
          {%- endif -%}

          {{- title_prefix -}}
          {%- if label -%}
            {%- if view_mode == 'full' -%}
              <h1>{{- label -}}</h1>
            {%- else -%}
              <h2><a href="{{ url }}" rel="bookmark">{{- label -}}</a></h2>
            {%- endif -%}
          {%- endif -%}
          {{- title_suffix -}}
          <div class="address">{{ content.field_address[0]['locality']['#value']|capitalize }} - {{ content.field_address[0]['country']['#value'] }}</div>
          </div>
          <div class="col m-2">
          {{ drupal_block("social_sharing_buttons_block", wrapper=false) }}
          </div>
        </header>

        <section class="mb-3">
          {{ content.field_presentation.0 }}
          {{ content.field_photos }}
          {{ content.field_videos }}

          <div class="d-none d-lg-block lastchange">
            <strong>{% trans %}Last change:{% endtrans %}</strong> <span>{{- node.getChangedTime()|format_date('medium') -}}</span>
          </div>
        </section>
      </div>
    </div>

    <div class="col-lg-4 related">
      <section class="mb-3 picture">
        {% set default_image %}
          <img src="/themes/custom/dbshare_bootstrap/images/default-{{- node.bundle() -}}.png" class="picture-default" alt="A database share {{ bundle_name }}"/>
        {% endset %}
        {{ content.field_image.0|default(default_image) }}
      </section>

      <section class="card mb-3">
        <h3 class="card-header">{% trans %}Contact details{% endtrans %}</h3>
        <div class="card-body">
          {{ content.field_geofield }}
          {{ content.field_email }}
          {{ content.field_phone }}
          {% if content.field_websites.0 or content.field_social_networks.0 or content.field_bandcamp.0 or content.field_soundcloud.0 %}
          <div class="field socials">
            <div class="field__label">{% trans %}Websites and social networks{% endtrans %}</div>
            {{ content.field_websites }}
            <div class="items">
            {{ content.field_bandcamp }}
            {{ content.field_soundcloud }}
            {{ content.field_social_networks }}
            </div>
          </div>
          {% endif %}
        </div>
      </section>

      {%- if node.bundle() == 'venue_festival' and have_activitie -%}
      <section class="card mb-3">
        <h3 class="card-header">{% trans %}Activities{% endtrans %}</h3>
        <ul class="list-group list-group-flush">

          {%- if content.field_price_v_f.0 -%}
          <li class="list-group-item">
            {{ content.field_price_v_f }}
          </li>
          {%- endif -%}

          {%- if content.field_programming.0 -%}
          <li class="list-group-item">
            {{ content.field_programming }}
          </li>
          {%- endif -%}

          {%- if content.field_status.0 -%}
          <li class="list-group-item">
            {{ content.field_status }}
          </li>
          {%- endif -%}

        </ul>
      </section>
      {%- endif -%}

      {%- if have_related -%}
      <section class="card mb-3 related-cards">
        <h3 class="card-header">{% trans %}Related{% endtrans %}</h3>
        <ul class="list-group list-group-flush">

          {%- if have_rel_person -%}
          <li class="list-group-item">
            {{ content.field_collective_person }}
            {{ content.field_organization_person }}
            {{ content.field_venue_festival_person }}
          </li>
          {%- endif -%}
          {%- if have_rel_coll -%}
          <li class="list-group-item">
            {{ content.field_collective_collective }}
            {{ content.field_organization_collective }}
            {{ content.field_venue_festival_collective }}
          </li>
          {%- endif -%}
          {%- if have_rel_orga -%}
          <li class="list-group-item">
            {{ content.field_collective_organization }}
            {{ content.field_organization_organization }}
            {{ content.field_venue_festival_organizatio }}
          </li>
          {%- endif -%}
          {%- if have_rel_festi -%}
          <li class="list-group-item">
            {{ content.field_colective_venue_festival }}
            {{ content.field_organization_venue_festiva }}
            {{ content.field_venue_festival_venue_festi }}
          </li>
          {%- endif -%}
        </ul>
      </section>
      {%- endif -%}

      {% if can_edit %}
      <section class="card mb-3">
        <h3 class="card-header">{% trans %}Owner(s){% endtrans %}</h3>
        <ul class="list-group list-group-flush">
        {% for account in can_edit %}
        <li class="list-group-item">
          <a href="{{ path('entity.user.canonical', {'user': account.id}) }}">{{ account.name }}</a>
        </li>
        {% endfor %}
        </ul>
      </section>
      {% endif %}
    </div>

      {{- content.comment -}}
</article>
