{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 * - roles: Array of roles for this user.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - base_path: The base path, the result of base_path().
 * - access_profiles: Does the current user have access to view profiles.
 *
 * @see template_preprocess_user()
 */
#}
{%-
  set classes = [
    roles ? roles|join(' '),
    user.isBlocked() ? 'user--is-blocked' : 'user--is-active',
    view_mode ? view_mode|clean_class,
    'person',
    'row',
    'clearfix',
    'mx-0',
  ]
-%}
<article{{ attributes.addClass(classes).setAttribute('role', 'article')|without('id') }}>
  <div class="col-lg-8">
    <div class="ariana row bg-dark text-light rounded-left">
      <div class="bubble col-auto py-2 rounded-left"><a class="text-light" href="{{ path('<front>') }}?type1[entity:user]=entity:user" title="{{ bundle_name }}">{{ bundle_name }}</a></div>
      <div class="col-auto py-2"><a class="text-light" href="{{ path('<front>') }}?location[distance][from]=5&location[value]={{ content.field_user_address[0]['locality']['#value']|capitalize }}, {{ content.field_user_address[0]['country']['#value'] }}" title="{{ content.field_user_address[0]['locality']['#value']|capitalize }} - {{ content.field_user_address[0]['country']['#value'] }}">{{ content.field_user_address[0]['locality']['#value']|capitalize }} - {{ content.field_user_address[0]['country']['#value'] }}</a></div>
    </div>

    <div class="profile  my-2">
      <header class="row">
        <div class="col-lg-10">
          {%- if user.isBlocked() -%}
            <span class="user__status user--is-blocked marker marker--warning" aria-label="Status message" role="contentinfo">
              <span class="visually-hidden">{%- trans %}This user is {% endtrans %}</span>{% trans %}Blocked{% endtrans -%}
            </span>
          {%- endif -%}

          {{- title_prefix -}}
          <h1{{ title_attributes.addClass('user__title') }}>{{ content.field_first_name.0 }} {{ content.field_last_name.0 }}</h1>
          {{- title_suffix -}}
          <div class="address">{{ content.field_user_address[0]['locality']['#value']|capitalize }} - {{ content.field_user_address[0]['country']['#value'] }}</div>
        </div>
        <div class="col m-2">
          {{ drupal_block("social_sharing_buttons_block", wrapper=false) }}
        </div>
      </header>

      <section class="mb-3">
        {{ content.field_presentation.0 }}
        {{ content.field_photos }}
        {{ content.field_user_videos }}

        {%- if user.getLastLoginTime() -%}
          <div class="d-none d-lg-block lastchange">
            <strong>{%- trans %}Last login:{% endtrans %}</strong> <span>{{- user.getLastLoginTime()|format_date('medium') -}}</span>
          </div>
        {%- endif -%}
      </section>
    </div>
  </div>

  <div class="col-lg-4 related">
    <section class="mb-3 picture">
      {% set default_image %}
        <img src="/themes/custom/dbshare_bootstrap/images/default-person.png" class="picture-default" alt="Member of the database share improvisors"/>
      {% endset %}
      <div class="jb-bb-button jb-bb-btn-full-screen" title="{{ 'Expand picture'|t }}"></div>
      {{ content.user_picture.0|default(default_image) }}
    </section>
    <section class="card mb-3">
      <h3 class="card-header">{% trans %}Contact details{% endtrans %}</h3>
      <div class="card-body">
        <div class="field__label">{{ 'Address'|t }}</div>
        <address>{{ content.field_user_address[0]['locality']['#value']|capitalize }} - {{ content.field_user_address[0]['country']['#value'] }}</address>
        {%- if contactme == 'email' -%}
          <div class="field field--name-field-email field--type-email field--label-inline clearfix"><div class="field__label">{{ 'Email'|t }}</div><div class="field__item">{{ user.getEmail()|obfuscateMail }}</div></div>
        {%- elseif contactme == 'contactform' -%}
          <div class="field field--label-inline clearfix"><div class="field__label">{{ 'Contact'|t }}</div><div class="field__item"><a href="{{ path('entity.user.contact_form', {'user': user.id}) }}">Send a message</a></div></div>
        {%- elseif contactme == 'register' -%}
          <div class="field field--label-inline clearfix"><div class="field__label">{{ 'Contact'|t }}</div><div class="field__item"><a href="{{ path('user.register') }}">Create an account to contact him/her !</a></div></div>
        {%- endif -%}
        {{ content.field_phone }}
        {% if content.field_user_websites.0 or content.field_social_networks.0 or content.field_bandcamp.0 or content.field_soundcloud.0 %}
        <div class="field socials">
          <div class="field__label">{% trans %}Websites and social networks{% endtrans %}</div>
          {{ content.field_user_websites }}
          <div class="items">
          {{ content.field_bandcamp }}
          {{ content.field_soundcloud }}
          {{ content.field_social_networks }}
          </div>
        </div>
        {% endif %}
      </div>
    </section>

    {%- if have_activitie -%}
    <section class="card mb-3">
      <h3 class="card-header">{% trans %}Activities{% endtrans %}</h3>
      <ul class="list-group list-group-flush">
        {%- if content.field_instruments.0 -%}
        <li class="list-group-item">
          {{ content.field_instruments }}
        </li>
        {%- endif -%}
        {%- if content.field_user_arts.0 -%}
        <li class="list-group-item">
          {{ content.field_user_arts }}
        </li>
        {%- endif -%}
        {%- if content.field_user_functions.0 -%}
        <li class="list-group-item">
          {{ content.field_user_functions }}
        </li>
        {%- endif -%}
      </ul>
    </section>
    {%- endif -%}

    {%- if have_support -%}
    <section class="card mb-3">
      <h3 class="card-header">{% trans %}Practical support and contact{% endtrans %}</h3>
      <ul class="list-group list-group-flush">
        {%- if content.field_user_housing.0 -%}
        <li class="list-group-item">
          {{ content.field_user_housing }}
        </li>
        {%- endif -%}
        {%- if content.field_user_material.0 -%}
        <li class="list-group-item">
          {{ content.field_user_material }}
        </li>
        {%- endif -%}
        {%- if content.field_user_gig_search.0 -%}
        <li class="list-group-item">
          {{ content.field_user_gig_search }}
        </li>
        {%- endif -%}
        {%- if content.field_user_spreading.0 -%}
        <li class="list-group-item">
          {{ content.field_user_spreading }}
        </li>
        {%- endif -%}
        {%- if content.field_user_networking.0 -%}
        <li class="list-group-item">
          {{ content.field_user_networking }}
        </li>
        {%- endif -%}
      </ul>
    </section>
    {%- endif -%}

    {%- if have_related -%}
    <section class="card mb-3 related-cards">
      <h3 class="card-header">{% trans %}Related{% endtrans %}</h3>
      <ul class="list-group list-group-flush">
        {%- if content.field_user_collective.0 -%}
        <li class="list-group-item">
          {{ content.field_user_collective }}
        </li>
        {%- endif -%}
        {%- if content.field_user_organization.0 -%}
        <li class="list-group-item">
          {{ content.field_user_organization }}
        </li>
        {%- endif -%}
      </ul>
    </section>
    {%- endif -%}

  </div>
</article>
