{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
<div class="navbar-brand d-flex align-items-center">

  {% if site_logo %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo d-block">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" width="61" height="80"/>
  </a>
  {% endif %}

  <div class="branding">
    {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-title">
      {% trans %}<span class="font-weight-extrabold">Improvisors</span> <span class="font-weight-light text-nowrap">Without Borders</span>{% endtrans %}
    </a>
    {% endif %}

    {% if site_slogan %}
    <div class="site-slogan">{{ site_slogan }}</div>
    {% endif %}
  </div>
</div>
{% endblock %}
