{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
set nav_classes = 'navbar navbar-expand-lg' ~
  (b4_navbar_schema != 'none' ? " navbar-#{b4_navbar_schema}" : ' ') ~
  (b4_navbar_schema != 'none' ? (b4_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_navbar_bg_schema != 'none' ? " bg-#{b4_navbar_bg_schema}" : ' ')
%}

{%
set footer_classes = ' ' ~
  (b4_footer_schema != 'none' ? " footer-#{b4_footer_schema}" : ' ') ~
  (b4_footer_schema != 'none' ? (b4_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_footer_bg_schema != 'none' ? " bg-#{b4_footer_bg_schema}" : ' ')
%}

<header>
  {{ page.header }}

  {% if page.nav_branding or page.nav_main or page.nav_additional %}
  <nav class="{{ nav_classes }}">
    <div class="{{ b4_top_container }} row mx-auto">
      <div class="col-9 col-md-6 p-0">
      {{ page.nav_branding }}
      </div>

      <div class="col-3 col-md-auto p-0 text-right">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end align-items-end row" id="navbarSupportedContent">
        {# page.nav_main #}
        <div class="justify-content-start col ml-4">
            <a href="{{- front_page -}}" class="btn border-bottom search-btn"><img src="/themes/custom/dbshare_bootstrap/images/ico_loupe.png" width="32" height="32" title="{{ 'Search'|t }}">{{ 'Search'|t }}</a>
        </div>
        <div class="align-items-start row col-auto">
          <div class="text-center mx-1 dropdown nav-top nav-top-info">
            <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <div>
                <img src="/themes/custom/dbshare_bootstrap/images/ico_info.png" width="21" height="33" title="{{ 'What is it?'|t }}">
              </div>
              <div class="menu-title">{{ 'What is it?'|t }}</div>
            </a>
            {{ drupal_menu('main') }}
          </div>

          {% if logged_in %}
            <div class="text-center mx-1 dropdown nav-top nav-top-account">
              <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div>
                <img src="/themes/custom/dbshare_bootstrap/images/ico_login.png" width="28" height="32" title="{{ 'My account'|t }}">
                </div>
                <div class="menu-title">{{ 'My account'|t }}</div>
              </a>
              {{ drupal_menu('account') }}
              </div>
            </div>
          {% else %}
            <div class="text-center mx-1 nav-top nav-top-login">
              <a href="{{ path('user.login') }}">
              <div>
                <img src="/themes/custom/dbshare_bootstrap/images/ico_login.png" width="28" height="32" title="{{ 'Log in'|t }}">
              </div>
              <div class="menu-title">{{ 'Log in'|t }}</div>
              </a>
            </div>

            <div class="text-center mx-1 nav-top nav-top-register">
              <a href="{{ path('user.register') }}">
              <div>
                <img src="/themes/custom/dbshare_bootstrap/images/ico_compte.png" width="35" height="33" title="{{ 'Sign up'|t }}">
              </div>
              <div class="menu-title">{{ 'Sign up'|t }}</div>
              </a>
            </div>
          {% endif %}
          {{ page.nav_additional }}
        </div>
      </div>
    </div>
  </nav>
  {% endif %}

</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {%
  set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
   %}


  <div class="{{ b4_top_container }}">
    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    <div class="row mt-2 mb-5">
      {% if page.sidebar_first %}
        <div class="order-2 order-lg-1 {{ sidebar_first_classes }}">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      <div class="order-1 order-lg-2 {{ content_classes }}">
        {{ page.content }}
      </div>
      {% if page.sidebar_second %}
        <div class="order-3 {{ sidebar_second_classes }}">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
    </div>
  </div>

</main>

{% if page.footer %}
<footer class="mt-auto {{ footer_classes }}">
  <div class="{{ b4_top_container }}">
    {{ page.footer }}
    <div class="row align-items-end">
      <div class="col-md-auto col-12">{{ drupal_image('143', '', {alt: 'European flag with text : Co-funded by the Creative European Programme of the European Union'|t, title: 'Co-funded by the Creative European Programme of the European Union'|t, width: '270', height: '50' }) }}</div>
      <div class="col-md col-12 mt-4">{{ drupal_menu('footer') }}</div>
    </div>
</footer>
{% endif %}
